<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.apache.uima.tm.dltk.internal.debug.TextMarkerDebugPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.dltk.debug.scriptDebugModel">
      <debugModel
            debugModelId="org.eclipse.dltk.debug.textmarkerModel"
            natureId="de.uniwue.dltk.textmarker.core.nature"
            typeFactory="org.apache.uima.tm.dltk.internal.debug.TextMarkerTypeFactory">
      </debugModel>
   </extension>

</plugin>
