<?xml version="1.0" encoding="UTF-8"?>
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<?eclipse version="3.2"?>
<plugin
>
   <extension-point id="tmSemanticHighlighting" name="tmSemanticHighlighting" schema="schema/tmSemanticHighlighting.exsd"/>
   <extension
         id="org.apache.uima.tm.dltk.ui.editor.DocumentSetupParticipant"
         name="%documentSetupParticipantName"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.apache.uima.tm.dltk.internal.ui.editor.TextMarkerDocumentSetupParticipant">
      </participant>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.apache.uima.tm.dltk.internal.ui.navigation.ElementsView$ElementList"
            class="org.apache.uima.tm.dltk.internal.ui.navigation.ElementListAdapterFactory">
         <adapter
               type="org.eclipse.dltk.core.IModelElement">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.apache.uima.tm.dltk.internal.ui.TextMarkerUIPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            canSearchEnclosingProjects="true"
            class="org.apache.uima.tm.dltk.internal.ui.search.TextMarkerSearchPage"
            enabled="true"
            extensions="tm:90, exp:30"
            icon="$nl$/icons/obj16/search_obj.png"
            id="org.eclipse.dltk.ui.TextMarkerSearchPage"
            label="%TextMarkerSearchPage.label"
            showScopeSection="true"
            sizeHint="460,160">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="%TextMarkerEditContext.description"
            id="de.uniwue.dltk.ui.textMarkerEditorScope"
            name="%TextMarkerEditContext.name"
            parentId="org.eclipse.dltk.ui.scriptEditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.apache.uima.tm.dltk.ui.TextMarkerPerspective"
            icon="$nl$/icons/eview16/tm_persp.png"
            id="org.apache.uima.tm.dltk.ui.TextMarkerPerspective"
            name="%TextMarkerPerspective.name">
      </perspective>
      <perspective
            class="org.apache.uima.tm.dltk.ui.ExplainPerspective"
            icon="icons/etool16/explain.png"
            id="org.apache.uima.tm.dltk.ui.explainPerspective"
            name="Explain">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut
               id="org.apache.uima.tm.dltk.ui.TextMarkerPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.apache.uima.tm.dltk.ui.TextMarkerPerspective">
         <perspectiveShortcut
               id="org.apache.uima.tm.dltk.ui.TextMarkerPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.apache.uima.tm.dltk.ui.TextMarkerPerspective">
         <perspectiveShortcut
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <perspectiveShortcut
               id="org.apache.uima.tm.dltk.ui.TextMarkerPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <actionSet
               id="org.eclipse.dltk.ui.DLTKActionSet">
         </actionSet>
      </perspectiveExtension>
      
      
      <perspectiveExtension
            targetID="org.apache.uima.tm.dltk.ui.TextMarkerPerspective">
         <showInPart
               id="org.eclipse.dltk.ui.ScriptExplorer">
         </showInPart>
      </perspectiveExtension>

      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <showInPart
               id="org.eclipse.dltk.ui.ScriptExplorer">
         </showInPart>
      </perspectiveExtension>
      
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.apache.uima.tm.dltk.ui"
            name="%TextMarkerWizardsCategory.name"
            >
      </category>
      <wizard
            category="org.apache.uima.tm.dltk.ui"
            class="org.apache.uima.tm.dltk.internal.ui.wizards.TextMarkerProjectCreationWizard"
            finalPerspective="org.apache.uima.tm.dltk.ui.TextMarkerPerspective"
            icon="$nl$/icons/etool16/newprj_wiz.png"
            id="org.apache.uima.tm.dltk.internal.ui.wizards.TextMarkerProjectWizard"
            name="TextMarker Project"
            preferredPerspectives="org.apache.uima.tm.dltk.ui.TextMarkerPerspective"
            project="true">
         <description>
            Creates new TextMarker project.
         </description>
      </wizard>
 <!--     <wizard
            name="%NewSourceFolderCreationWizard.label"
            icon="/icons/etool16/newpackfolder_wiz.gif"
            category="org.apache.uima.tm.dltk.ui"
            class="org.eclipse.dltk.ui.wizards.NewSourceFolderCreationWizard"
            id="org.apache.uima.tm.dltk.ui.wizards.NewSourceFolderCreationWizard">
         <description>
            %NewSourceFolderCreationWizard.description
         </description>
      </wizard>
 -->
       <wizard
            name="%NewTMPackage.label"
            icon="icons/etool16/newpack_wiz.gif"
            category="org.apache.uima.tm.dltk.ui"
            class="org.apache.uima.tm.dltk.internal.ui.wizards.TextMarkerPackageCreationWizard"
            id="org.apache.uima.tm.dltk.ui.wizards.NewPackageCreationWizard">
         <description>
            %NewTMPackage.description
         </description>
      </wizard>
       <wizard
             category="org.apache.uima.tm.dltk.ui"
             class="org.apache.uima.tm.dltk.internal.ui.wizards.TextMarkerFileCreationWizard"
             icon="$nl$/icons/etool16/newfile_wiz.png"
             id="org.apache.uima.tm.dltk.internal.ui.wizards.TextMarkerFileCreationWizard"
             name="%NewTextMarkerFile.label">
          <description/>
       </wizard>
      </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.apache.uima.tm.dltk.internal.ui.editor.TextMarkerEditor"
            contributorClass="org.eclipse.dltk.internal.ui.editor.SourceModuleEditorActionContributor"
            default="true"
            extensions="tm"
            icon="$nl$/icons/obj16/tm_obj.png"
            id="org.apache.uima.tm.dltk.ui.editor.TextMarkerEditor"
            name="%TextMarkerEditor.name">
         <contentTypeBinding
               contentTypeId="de.uniwue.dltk.tmContentType">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="org.apache.uima.tm.dltk.internal.ui.templates.TextMarkerUniversalTemplateContextType"
            id="tmUniversalTemplateContextType"
            name="%TextMarkerTemplateContext.name">
      </contextType>
      <include
            file="templates/templates.xml">
      </include>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.apache.uima.tm.dltk.internal.ui.preferences.TextMarkerGlobalPreferencePage"
            id="org.apache.uima.tm.dltk.preferences"
            name="%TextMarkerPreferencePage.name">
      </page>
      <page
            category="org.apache.uima.tm.dltk.preferences"
            class="org.apache.uima.tm.dltk.internal.ui.preferences.TextMarkerEditorPreferencesPage"
            id="org.apache.uima.tm.dltk.preferences.editor"
            name="%TextMarkerEditorPreferencePage.name">
      </page>
      <page
          category="org.apache.uima.tm.dltk.preferences.editor"
          class="org.apache.uima.tm.dltk.internal.ui.preferences.TextMarkerEditorHoverPreferencePage"
          id="org.apache.uima.tm.dltk.preferences.editor.hovers"
          name="%TextMarkerEditorHoversPreferencePage.name"/>    
      <page
           category="org.apache.uima.tm.dltk.preferences.editor"
           class="org.apache.uima.tm.dltk.internal.ui.templates.TextMarkerCodeTemplatesPreferencePage"
           id="org.apache.uima.tm.dltk.preferences.templates"
           name="%TextMarkerCodeTemplatesPreferencePage.name"/>   
      <page
            category="org.apache.uima.tm.dltk.preferences.editor"
            class="org.apache.uima.tm.dltk.internal.ui.preferences.TextMarkerEditorSyntaxColoringPreferencePage"
            id="org.apache.uima.tm.dltk.ui.editor.SyntaxColoring"
            name="%TextMarkerEditorSyntaxColoringPreferencePage.name">
      </page>
      <page
            category="org.apache.uima.tm.dltk.preferences.editor"
            class="org.apache.uima.tm.dltk.internal.ui.preferences.TextMarkerSmartTypingPreferencePage"
            id="org.apache.uima.tm.dltk.ui.editor.SmartTyping"
            name="%TextMarkerEditorSmartTypingPreferencePage.name">
      </page>
      <page
            category="org.apache.uima.tm.dltk.preferences.editor"
            class="org.apache.uima.tm.dltk.internal.ui.preferences.TextMarkerFoldingPreferencePage"
            id="org.apache.uima.tm.dltk.ui.editor.TextMarkerFolding"
            name="%TextMarkerEditorFoldingPreferencePage.name">
      </page>
      <page
        category="org.apache.uima.tm.dltk.preferences"
        class="org.apache.uima.tm.dltk.internal.ui.preferences.TextMarkerTodoTaskPreferencePage"
        id="org.apache.uima.tm.dltk.ui.editor.TodoTasks"
        name="%TextMarkerTaskTags.name">
      </page>
      <page
            category="org.apache.uima.tm.dltk.preferences.editor"
            class="org.apache.uima.tm.dltk.internal.ui.preferences.TextMarkerEditorAssistancePreferencePage"
            id="org.apache.uima.tm.dltk.ui.editor.Assistence"
            name="%TextMarkerEditorAssistancePreferencePage.name">
      </page>
      <page
            category="org.apache.uima.tm.dltk.preferences"
            class="org.apache.uima.tm.dltk.internal.ui.preferences.TextMarkerBuilderPreferencePage"
            id="org.apache.uima.tm.dltk.preferences.builder"
            name="Builder">
      </page>
      <page
            category="org.apache.uima.tm.dltk.preferences.editor"
            class="org.apache.uima.tm.dltk.internal.ui.preferences.TextMarkerFormatterPreferencePage"
            id="org.apache.uima.tm.dltk.preferences.formatter"
            name="Formatter">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.apache.uima.tm.dltk.propertyPage"
            class="org.apache.uima.tm.dltk.internal.ui.preferences.TextMarkerBuildpathPropertyPage"
            id="org.apache.uima.tm.dltk.ui.BuildpathProperties"
            name="%TextMarkerBuildPathPropertyPage.name">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.apache.uima.tm.dltk.core.nature">
               </test>
            </adapt>
         </enabledWhen>
         <keywordReference
               id="org.eclipse.dltk.ui.buildpath">
         </keywordReference>
      </page>
      <page
            class="org.apache.uima.tm.dltk.internal.ui.preferences.TextMarkerPropertyPage"
            id="org.apache.uima.tm.dltk.propertyPage"
            name="%TextMarkerPropertyPage.name">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.apache.uima.tm.dltk.core.nature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
      <page
  			category="org.apache.uima.tm.dltk.propertyPage"
  			class="org.apache.uima.tm.dltk.internal.ui.preferences.TextMarkerTodoTaskPreferencePage"
  			id="org.apache.uima.tm.dltk.propertyPage.todo"
  			name="%TextMarkerTodoPropertyPage.name">
  			<enabledWhen>
    			<adapt type="org.eclipse.core.resources.IProject">
      			<test property="org.eclipse.core.resources.projectNature" value="org.apache.uima.tm.dltk.core.nature"/>
    			</adapt>         
  			</enabledWhen>
	  </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.apache.uima.tm.dltk.ui"
            name="%TextMarkerViewsCategory.name">
      </category>
      <view
            category="org.apache.uima.tm.dltk.ui"
            class="org.apache.uima.tm.dltk.internal.ui.infoviews.TextMarkerDocumentationView"
            icon="$nl$/icons/obj16/tmdoc.png"
            id="org.apache.uima.tm.dltk.ui.TextMarkerDocumentationView"
            name="%TextMarkerDocumentationView.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="%TextMarkerActionSet.description"
            id="org.apache.uima.tm.dltk.ui.TextMarkerActionSet"
            label="%TextMarkerActionSet.label"
            visible="false">
         <action
               class="org.apache.uima.tm.dltk.internal.ui.actions.TextMarkerOpenTypeAction"
               definitionId="org.apache.uima.tm.dltk.ui.navigate.open.type"
               icon="icons/etool16/opentype.gif"
               id="openType"
               label="%OpenTypeAction.label"
               menubarPath="navigate/open.ext2"
               toolbarPath="org.eclipse.search.searchActionSet/Search"
               tooltip="%OpenTypeAction.tooltip">
         </action>
         <action
               class="org.apache.uima.tm.dltk.internal.ui.actions.TextMarkerOpenTypeInHierarchyAction"
               definitionId="org.apache.uima.tm.dltk.ui.navigate.open.type.in.hierarchy"
               id="openTypeInHierarchy"
               label="%OpenTypeInHierarchyAction.label"
               menubarPath="navigate/open.ext2"
               tooltip="%OpenTypeInHierarchyAction.tooltip">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="%TextMarkerSearchActionSet.description"
            id="org.apache.uima.tm.dltk.ui.SearchActionSet"
            label="%TextMarkerSearchActionSet.label"
            visible="false">
         <menu
               id="org.eclipse.search.menu"
               label="%SearchMenu.label"
               path="navigate">
            <groupMarker
                  name="dialogTextMarkerGroup">
            </groupMarker>
         </menu>
         <action
               class="org.apache.uima.tm.dltk.internal.ui.actions.OpenTextMarkerSearchPageAction"
               icon="$nl$/icons/obj16/search_obj.png"
               id="org.apache.uima.tm.dltk.ui.actions.OpenTextMarkerSearchPage"
               label="%OpenTextMarkerSearchPageAction.label"
               menubarPath="org.eclipse.search.menu/dialogTextMarkerGroup">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
        <key
              commandId="org.apache.uima.tm.dltk.ui.navigate.open.type"
              contextId="de.uniwue.dltk.ui.textMarkerEditorScope"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="M1+M2+T"/>
        <key
              commandId="org.eclipse.dltk.ui.edit.text.script.format"
              contextId="de.uniwue.dltk.ui.textMarkerEditorScope"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="M1+M2+F">
        </key>
        <key
              commandId="org.eclipse.dltk.ui.edit.text.script.format"
              contextId="de.uniwue.dltk.ui.textMarkerEditorScope"
              platform="gtk"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="ESC CTRL+F">
        </key> 
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            class="org.apache.uima.tm.dltk.internal.ui.TextMarkerProjectDecorator"
            id="org.apache.uima.tm.dltk.decorators.projectdecorator"
            label="%TextMarkerProjectDecorator.name"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <or>
               <objectClass
                     name="org.eclipse.core.resources.IProject">
               </objectClass>
               <objectClass
                     name="org.eclipse.dltk.core.IScriptProject">
               </objectClass>
            </or>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.navigate"
            description="%ActionDefinition.OpenType.description"
            id="org.apache.uima.tm.dltk.ui.navigate.open.type"
            name="%ActionDefinition.OpenType.name">
      </command>
   </extension>
   
<extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="menu:org.eclipse.dltk.ui.source.menu?after=editGroup">
       <command commandId="org.eclipse.dltk.ui.edit.text.script.format" >             
            <visibleWhen>
              <with variable="activeContexts">
                 <iterate operator="or">
                    <equals value="de.uniwue.dltk.ui.textMarkerEditorScope" />
                 </iterate>
              </with>
           </visibleWhen>
       </command>
    </menuContribution>
</extension>

<extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.ui.edit.text.actionSet.presentation">
         <part
               id="org.apache.uima.tm.dltk.ui.editor.TextMarkerEditor">
         </part>
      </actionSetPartAssociation>
      <actionSetPartAssociation
            targetID="org.eclipse.dltk.ui.A_OpenActionSet">
         <part
               id="org.apache.uima.tm.dltk.ui.editor.TextMarkerEditor">
         </part>
      </actionSetPartAssociation>
      <actionSetPartAssociation
            targetID="org.eclipse.dltk.ui.ScriptCodingActionSet">
         <part
               id="org.apache.uima.tm.dltk.ui.editor.TextMarkerEditor">
         </part>
      </actionSetPartAssociation>
   </extension>
   <extension
         id="TextMarkerScriptNoTypeCompletionProposalComputer"
         point="org.eclipse.dltk.ui.scriptCompletionProposalComputer">
      <scriptCompletionProposalComputer
            categoryId="org.eclipse.dltk.ui.scriptNoTypeProposalCategory"
            class="org.apache.uima.tm.dltk.internal.ui.text.completion.TextMarkerNoTypeCompletionProposalComputer"
            toolkitId="org.apache.uima.tm.dltk.core.nature">
         <partition
               type="__dftl_partition_content_type">
         </partition>
         <partition
               type="__tm_string">
         </partition>
      </scriptCompletionProposalComputer>
   </extension>
  
   <!--
   <extension
         id="TextMarkerScriptTypeCompletionProposalComputer"
         point="org.eclipse.dltk.ui.scriptCompletionProposalComputer">
      <scriptCompletionProposalComputer
            categoryId="org.eclipse.dltk.ui.scriptTypeProposalCategory"
            class="org.apache.uima.tm.dltk.internal.ui.text.completion.TextMarkerTypeCompletionProposalComputer"
            toolkitId="org.apache.uima.tm.dltk.core.nature">
         <partition
               type="__dftl_partition_content_type">
         </partition>
      </scriptCompletionProposalComputer>
   </extension>
    -->
   <extension
         point="org.eclipse.dltk.ui.scriptDocumentationProviders">
      <provider
            class="org.apache.uima.tm.dltk.internal.ui.documentation.TextMarkerCommentDocumentationProvider"
            id="org.apache.uima.tm.dltk.ui.TextMarkerCommentDocumentationProvider"
            nature="org.apache.uima.tm.dltk.core.nature">
      </provider>
      <provider
            class="org.apache.uima.tm.dltk.internal.ui.documentation.TextMarkerPagesDocumentationProvider"
            id="de.uniwue.dltk.textmarke.ui.TextMarkerPagesDocumentationProvider"
            nature="org.apache.uima.tm.dltk.core.nature">
      </provider>
      <provider
            class="org.apache.uima.tm.dltk.internal.ui.documentation.TextMarkerActionDocumentationProvider"
            id="org.apache.uima.tm.dltk.ui.TextMarkerActionDocumentationProvider"
            nature="org.apache.uima.tm.dltk.core.nature">
      </provider>
      <provider
            class="org.apache.uima.tm.dltk.internal.ui.documentation.TextMarkerConditionDocumentationProvider"
            id="org.apache.uima.tm.dltk.ui.TextMarkerConditionDocumentationProvider"
            nature="org.apache.uima.tm.dltk.core.nature">
      </provider>
      <provider
            class="org.apache.uima.tm.dltk.internal.ui.documentation.TextMarkerFunctionDocumentationProvider"
            id="org.apache.uima.tm.dltk.ui.TextMarkerFunctionDocumentationProvider"
            nature="org.apache.uima.tm.dltk.core.nature">
      </provider>
   </extension>
   <extension
         point="org.eclipse.dltk.ui.language">
      <language
            class="org.apache.uima.tm.dltk.internal.ui.TextMarkerUILanguageToolkit"
            nature="org.apache.uima.tm.dltk.core.nature">
      </language>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.apache.uima.tm.dltk.ui.SearchActionSet">
         <part
               id="org.eclipse.dltk.ui.ScriptExplorer">
         </part>
         <part
               id="org.apache.uima.tm.dltk.ui.editor.TextMarkerEditor">
         </part>
         <part
               id="org.eclipse.search.SearchResultView">
         </part>
      </actionSetPartAssociation>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.apache.uima.tm.dltk.internal.ui.text.TextMarkerRequireMarkerResolutionGenerator"
            markerType="org.eclipse.dltk.core.problem">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.apache.uima.tm.dltk.internal.ui.TextMarkerEditor.ruler.actions"
            targetID="org.apache.uima.tm.dltk.ui.editor.TextMarkerEditor">
         <action
               actionID="RulerClick"
               class="org.apache.uima.tm.dltk.internal.ui.actions.TextMarkerSelectRulerAction"
               id="org.apache.uima.tm.dltk.internal.ui.tmeditor.TextMarkerSelectRulerAction"
               label="TextMarker Selection Ruler action">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.dltk.ui.category.source"
            description="%ActionDefinition.addBlockComment.description"
            id="org.eclipse.dltk.ui.edit.text.script.add.block.comment"
            name="%ActionDefinition.addBlockComment.name">
      </command>
      <command
            categoryId="org.eclipse.dltk.ui.category.source"
            description="%ActionDefinition.removeBlockComment.description"
            id="org.eclipse.dltk.ui.edit.text.script.remove.block.comment"
            name="%ActionDefinition.removeBlockComment.name">
      </command>
      <command
            categoryId="org.eclipse.dltk.ui.category.source"
            description="%ActionDefinition.indent.description"
            id="org.eclipse.dltk.ui.edit.text.script.indent"
            name="%ActionDefinition.indent.name">
      </command>
      <command
            categoryId="org.eclipse.dltk.ui.category.source"
            description="%ActionDefinition.format.description"
            id="org.eclipse.dltk.ui.edit.text.script.format"
            name="%ActionDefinition.format.name">
      </command>
      <command
            categoryId="org.eclipse.dltk.ui.category.source"
            description="%ActionDefinition.quickformat.description"
            id="org.eclipse.dltk.ui.edit.text.script.quick.format"
            name="%ActionDefinition.quickformat.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.dltk.ui.formatterFactory">
      <engineContribution
            natureId="org.apache.uima.tm.dltk.core.nature">
         <selector
               class="org.eclipse.dltk.core.PreferenceBasedContributionSelector">
            <parameter
                  name="qualifier"
                  value="org.apache.uima.tm.dltk.ui">
            </parameter>
            <parameter
                  name="key"
                  value="formatterId">
            </parameter>
         </selector>
      </engineContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.apache.uima.tm.dltk.propertyPage"
            class="org.apache.uima.tm.dltk.internal.ui.preferences.TextMarkerFormatterPreferencePage"
            id="org.apache.uima.tm.dltk.propertyPage.formatter"
            name="TextMarker Formatter">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.apache.uima.tm.dltk.core.nature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.apache.uima.tm.dltk.ui.tmSemanticHighlighting">
      <highlightingExtension
            class="org.apache.uima.tm.dltk.internal.ui.DefaultTextMarkerSemanticHighlightingExtension">
      </highlightingExtension>
   </extension>
      

</plugin>
