<?xml version="1.0" encoding="UTF-8"?>
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.apache.uima.tm.textmarker.ui.twl.TWLConverterHandler"
            description="TWLConvertCommand"
            id="org.apache.uima.tm.textmarker.ui.twl.command"
            name="Convert to TWL">
         <defaultHandler
               class="org.apache.uima.tm.textmarker.ui.twl.TWLConverterHandler">
         </defaultHandler>
      </command>
      <command
            defaultHandler="org.apache.uima.tm.textmarker.ui.twl.MultiTWLConverterHandler"
            description="MultiTWLConvertCommand"
            id="org.apache.uima.tm.textmarker.ui.mtwl.command"
            name="Convert to Multi TWL">
         <defaultHandler
               class="org.apache.uima.tm.textmarker.ui.twl.MultiTWLConverterHandler">
         </defaultHandler>
      </command>
      <command
            defaultHandler="org.apache.uima.tm.textmarker.ui.apply.ApplyScriptRemoveBasicsHandler"
            id="org.apache.uima.tm.textmarker.ui.apply.script"
            name="ApplyScriptCommand">
      </command>
      <command
            defaultHandler="org.apache.uima.tm.textmarker.ui.apply.ApplyScriptKeepBasicsHandler"
            id="org.apache.uima.tm.textmarker.ui.apply.script.basics"
            name="ApplyScriptBasicsCommand">
      </command>
      <command
            defaultHandler="org.apache.uima.tm.textmarker.ui.apply.ApplyScriptNoXMIHandler"
            id="org.apache.uima.tm.textmarker.ui.apply.script.noxmi"
            name="ApplyScriptNoXMICommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               icon="icons/tm_obj.png"
               id="org.apache.uima.tm.textmarker.ui.popup.submenu"
               label="TextMarker">
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.apache.uima.tm.textmarker.ui.popup.submenu">
         <command
               commandId="org.apache.uima.tm.textmarker.ui.apply.script.basics"
               disabledIcon="icons/tm_obj.png"
               hoverIcon="icons/tm_obj.png"
               icon="icons/tm_obj.png"
               id="org.apache.uima.tm.textmarker.ui.apply.script.basics.popup"
               label="Quick TextMarker"
               style="push"
               tooltip="Apply current TextMarker script on folder and keep basics">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.apache.uima.tm.textmarker.ui.popup.submenu">
         <command
               commandId="org.apache.uima.tm.textmarker.ui.apply.script"
               disabledIcon="icons/tm_obj.png"
               hoverIcon="icons/tm_obj.png"
               icon="icons/tm_obj.png"
               id="org.apache.uima.tm.textmarker.ui.apply.script.popup"
               label="Quick TextMarker (remove basics)"
               style="push"
               tooltip="Apply current TextMarker script on folder">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.apache.uima.tm.textmarker.ui.popup.submenu">
         <command
               commandId="org.apache.uima.tm.textmarker.ui.apply.script.noxmi"
               disabledIcon="icons/tm_obj.png"
               hoverIcon="icons/tm_obj.png"
               icon="icons/tm_obj.png"
               id="org.apache.uima.tm.textmarker.ui.apply.script.noxmi.popup"
               label="Quick TextMarker (no xmi)"
               style="push"
               tooltip="Apply current TextMarker script on folder">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.apache.uima.tm.textmarker.ui.popup.submenu">
         <command
               commandId="org.apache.uima.tm.textmarker.ui.twl.command"
               disabledIcon="icons/tm_obj.png"
               hoverIcon="icons/tm_obj.png"
               icon="icons/tm_obj.png"
               id="org.apache.uima.tm.textmarker.ui.twl.popup"
               label="Convert to TWL"
               style="push"
               tooltip="Convert the word list to a tree">
            <visibleWhen
                  checkEnabled="true">
               <reference
                     definitionId="org.apache.uima.tm.textmarker.ui.twl.definition">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.apache.uima.tm.textmarker.ui.popup.submenu">
         <command
               commandId="org.apache.uima.tm.textmarker.ui.mtwl.command"
               disabledIcon="icons/tm_obj.png"
               hoverIcon="icons/tm_obj.png"
               icon="icons/tm_obj.png"
               id="org.apache.uima.tm.textmarker.ui.mtwl.popup"
               label="Convert to Multi TWL"
               style="push"
               tooltip="Convert several word lists to a tree">
            <visibleWhen
                  checkEnabled="true">
               <reference
                     definitionId="org.apache.uima.tm.textmarker.ui.mtwl.definition">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.apache.uima.tm.textmarker.ui.twl.definition">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <test
                     property="org.eclipse.core.resources.extension"
                     value="txt">
               </test>
            </iterate>
         </with>
      </definition>
      <definition
            id="org.apache.uima.tm.textmarker.ui.mtwl.definition">
         <with
               variable="selection">
            <iterate
                  ifEmpty="true">
               <or>
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="txt">
                  </test>
               </or>
            </iterate>
         </with>
      </definition>
      <definition
            id="org.apache.uima.tm.textmarker.ui.apply.script.definition">
         <with
               variable="selection">
            <and>
            <!--
               <iterate
                     ifEmpty="false">
                  <or>
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="txt">
                     </test>
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="html">
                     </test>
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="htm">
                     </test>
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="xmi">
                     </test>
                     <test
                           property="org.apache.uima.tm.textmarker.ui.utils.test2">
                     </test>
                  </or>
               </iterate> 
               -->
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.apache.uima.tm.dltk.ui.editor.TextMarkerEditor">
                  </equals>
               </with>
            </and>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.apache.uima.tm.textmarker.ui.apply.script"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+T">
      </key>
      <key
            commandId="org.apache.uima.tm.textmarker.ui.apply.script.basics"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+T">
      </key>
      <key
            commandId="org.apache.uima.tm.textmarker.ui.apply.script.noxmi"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M3+T">
      </key>
      <key
            commandId="org.apache.uima.tm.textmarker.ui.twl.command"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+L">
      </key>
      <key
            commandId="org.apache.uima.tm.textmarker.ui.mtwl.command"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+L">
      </key>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.apache.uima.tm.textmarker.ui.utils.convert.syntax.statement"
            targetID="#TextMarkerEditorContext">
         <action
               class="org.apache.uima.tm.textmarker.ui.convert.ConvertSyntaxAction"
               icon="icons/tm_obj.png"
               id="org.apache.uima.tm.textmarker.ui.utils.convert.action"
               label="Convert syntax"
               menubarPath="org.apache.uima.tm.textmarker.ui.popup.submenu">
         </action>
      </viewerContribution>
      <objectContribution
            adaptable="false"
            id="org.apache.uima.tm.textmarker.ui.utils.convert.syntax.script"
            nameFilter="*.tm"
            objectClass="org.eclipse.dltk.core.ISourceModule">
         <action
               class="org.apache.uima.tm.textmarker.ui.convert.ConvertSyntaxAction"
               icon="icons/tm_obj.png"
               id="org.apache.uima.tm.textmarker.ui.utils.convert.action"
               label="Convert syntax"
               menubarPath="org.apache.uima.tm.textmarker.ui.popup.submenu">
         </action>
      </objectContribution>
   </extension>
    -->
</plugin>
