<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.apache.uima.tm.dltk.ui"
            class="org.apache.uima.tm.textmarker.query.ui.QueryView"
            icon="icons/basket_edit.png"
            id="org.apache.uima.tm.textmarker.query.ui.ScriptQueryView"
            name="TextMarker Query"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.apache.uima.tm.cev.cevSearchStrategies">
      <strategy
            factory="org.apache.uima.tm.textmarker.query.QuerySearchStrategyFactory"
            id="org.apache.uima.tm.textmarker.query.searchStrategy"
            priority="0">
      </strategy>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.apache.uima.tm.textmarker.query.ui.QueryActionHandler"
            id="org.apache.uima.tm.textmarker.query.command"
            name="Query Command">
      </command>
      <command
            defaultHandler="org.apache.uima.tm.textmarker.query.ui.ExportActionHandler"
            id="org.apache.uima.tm.textmarker.query.export"
            name="Export List">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.apache.uima.tm.textmarker.query.ui.ScriptQueryView?after=additions">
         <command
               commandId="org.apache.uima.tm.textmarker.query.command"
               icon="icons/13555.actionengine_play.gif"
               label="Query"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.apache.uima.tm.textmarker.query.export"
               icon="icons/10892.resource_persp.gif"
               label="Export List"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.apache.uima.tm.textmarker.ui.query.queryToolbar">
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
