<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.apache.uima.tm.dltk.ui"
            class="org.apache.uima.tm.textmarker.cev.explain.basic.BasicTokenStreamView"
            icon="icons/text_list_numbers.png"
            id="org.apache.uima.tm.textmarker.cev.explain.basic"
            name="Basic Stream">
      </view>
      <view
            category="org.apache.uima.tm.dltk.ui"
            class="org.apache.uima.tm.textmarker.cev.explain.apply.ApplyView"
            icon="icons/chart_organisation.png"
            id="org.apache.uima.tm.textmarker.cev.explain.apply"
            name="Applied Rules">
      </view>
      <view
            category="org.apache.uima.tm.dltk.ui"
            class="org.apache.uima.tm.textmarker.cev.explain.matched.MatchedView"
            icon="icons/accept.png"
            id="org.apache.uima.tm.textmarker.cev.explain.matched"
            name="Matched Rules"
            restorable="true">
      </view>
      <view
            category="org.apache.uima.tm.dltk.ui"
            class="org.apache.uima.tm.textmarker.cev.explain.failed.FailedView"
            icon="icons/cancel.png"
            id="org.apache.uima.tm.textmarker.cev.explain.failed"
            name="Failed Rules">
      </view>
      <view
            category="org.apache.uima.tm.dltk.ui"
            class="org.apache.uima.tm.textmarker.cev.explain.element.ElementView"
            icon="icons/chart_organisation.png"
            id="org.apache.uima.tm.textmarker.cev.explain.element"
            name="Rule Elements">
      </view>
      <view
            category="org.apache.uima.tm.dltk.ui"
            class="org.apache.uima.tm.textmarker.cev.statistics.StatisticsView"
            icon="icons/statistics.png"
            id="org.apache.uima.tm.textmarker.cev.statistics"
            name="Statistics">
      </view>
      <view
            category="org.apache.uima.tm.dltk.ui"
            class="org.apache.uima.tm.textmarker.cev.explain.selection.ExplainSelectionView"
            icon="icons/chart_organisation.png"
            id="org.apache.uima.tm.textmarker.cev.explain.selection"
            name="Selected Rules">
      </view>
      <view
            category="org.apache.uima.tm.dltk.ui"
            class="org.apache.uima.tm.textmarker.cev.explain.rulelist.RuleListSelectionView"
            icon="icons/chart_organisation.png"
            id="org.apache.uima.tm.textmarker.cev.explain.rulelist"
            name="Rule List">
      </view>
   </extension>
   <extension
         point="org.apache.uima.tm.cev.cevViews">
      <view
            factory="org.apache.uima.tm.textmarker.cev.explain.apply.ApplyViewFactory"
            id="org.apache.uima.tm.textmarker.cev.extension.explain.apply"
            priority="0"
            viewId="org.apache.uima.tm.textmarker.cev.explain.apply">
      </view>
      <view
            factory="org.apache.uima.tm.textmarker.cev.explain.matched.MatchedViewFactory"
            id="org.apache.uima.tm.textmarker.cev.extension.explain.matched"
            priority="0"
            viewId="org.apache.uima.tm.textmarker.cev.explain.matched">
      </view>
      <view
            factory="org.apache.uima.tm.textmarker.cev.explain.basic.BasicTokenStreamViewFactory"
            id="org.apache.uima.tm.textmarker.cev.extension.explain.basic"
            priority="0"
            viewId="org.apache.uima.tm.textmarker.cev.explain.basic">
      </view>
      <view
            factory="org.apache.uima.tm.textmarker.cev.explain.failed.FailedViewFactory"
            id="org.apache.uima.tm.textmarker.cev.extension.explain.failed"
            priority="0"
            viewId="org.apache.uima.tm.textmarker.cev.explain.failed">
      </view>
      <view
            factory="org.apache.uima.tm.textmarker.cev.explain.element.ElementViewFactory"
            id="org.apache.uima.tm.textmarker.cev.extension.explain.element"
            priority="0"
            viewId="org.apache.uima.tm.textmarker.cev.explain.element">
      </view>
      <view
            factory="org.apache.uima.tm.textmarker.cev.statistics.StatisticsViewFactory"
            id="org.apache.uima.tm.textmarker.cev.extension.statistics"
            priority="0"
            viewId="org.apache.uima.tm.textmarker.cev.statistics">
      </view>
      <view
            factory="org.apache.uima.tm.textmarker.cev.explain.selection.ExplainSelectionViewFactory"
            id="org.apache.uima.tm.textmarker.cev.extension.explain.selection"
            priority="0"
            viewId="org.apache.uima.tm.textmarker.cev.explain.selection">
      </view>
      <view
            factory="org.apache.uima.tm.textmarker.cev.explain.rulelist.RuleListViewFactory"
            id="org.apache.uima.tm.textmarker.cev.extension.explain.rulelist"
            priority="0"
            viewId="org.apache.uima.tm.textmarker.cev.explain.rulelist">
      </view>
   </extension>
   <extension
         point="org.apache.uima.tm.cev.cevSearchStrategies">
      <strategy
            factory="org.apache.uima.tm.textmarker.cev.searchStrategy.LastLaunchSearchStrategyFactory"
            id="org.apache.uima.tm.textmarker.cev.LastLaunchSearch"
            priority="20">
      </strategy>
      <strategy
            factory="org.apache.uima.tm.textmarker.cev.searchStrategy.DescriptorFolderSearchStrategyFactory"
            id="org.apache.uima.tm.textmarker.cev.DescriptorFolder"
            priority="100">
      </strategy>
   </extension>
</plugin>
